<%= form_with(model: recital, local: true) do |form| %>
  <% if recital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recital.errors.count, "error") %> prohibited this recital from being saved:</h2>

      <ul>
      <% recital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="field">
    <%= form.hidden_field :semester_id, value: @semester.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
