<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @semester.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @semester.status %>
</p>

<div id="recitals">
	<% @semester.recitals.each do |recital| %>
		<p><%= recital.name %>
		<br><%= recital.date.strftime("%A, %b %d | %l:%M %p") %>
	</p>
	<% end %>
</div>

<div id="new-recital">
	<h2>Add a New Recital</h2>
    <%= render 'recitals/form', recital: @recital %>

</div>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
